<div class="header">
  <div class="container">     
      <div class="menu">
        <ul class="list">
          <li class="item">
            <a href="#top" target="_top" class="link">tablet</a>
          </li>
          <li class="item">
            <a href="#faq" target="_top" class="link">computador</a>
          </li>
          <li class="item ">
            <a href="https://oiplanosbandalarga.com.br" target="_blank" class="link">wi-fiwi-fi</a>
          </li>
        </ul>
      </div>   
  </div>
</div>