.header
  background-color: #dd4b39
  box-shadow: 0 0 7px -6px #000
  position: fixed
  overflow: hidden
  width: 100%
  z-index: 9
   
  > .container    
    align-items: center
    display: flex
    justify-content: space-between
    margin: 0 auto
    max-width: 1170px
    padding: 0 15px
    height: 50px 
