.form
    > .title
        color: #5b5b5b
        font-family: Gill Sans Extrabold, sans-serif
        text-align: center
        font-size: 20px

    > .wrap
        align-items: center
        display: flex
        width: 100%

        > .field
            border: 1px solid #999999
            border-radius: 2.7px
            height: 20px
            padding: 6px 7px
            width: 100%
            margin-bottom: 10px
            &::placeholder 
                color: #666666
                font-family: Gill Sans Extrabold, sans-serif
                font-size: 15px

    > .bnt
        background: #660099
        border-radius: 2.9px
        border: none
        color: white
        font-family: Gill Sans Extrabold, sans-serif
        width: 30%
        height: 30px
        margin: 10px 35% auto

 