.form
    > .bnt
        background: #660099
        border-radius: 2.9px
        border: none
        color: white
        cursor: pointer
        display: block
        font-family: Gill Sans Extrabold, sans-serif
        height: 30px
        margin: 15px auto
        width: 30%
        &.-disabled
            background: #bbb8b8
            cursor: default 
    > .icon 
        display: flex
        margin-top: 20px
        > .image
            height: 26px
            margin-right: 6px
        > .text
            font-family: Gill Sans Extrabold, sans-serif
            padding-top: 5px
            
    > .title
        color: #5b5b5b
        font-size: 20px
        font-family: Gill Sans Extrabold, sans-serif
        text-align: center

    > .wrap
        display: flex
        flex-direction: column
        margin-bottom: 10px
        width: 94%

        > .field
            border: 1px solid #999999
            border-radius: 2.7px
            height: 20px
            padding: 6px 7px
            width: 100%            
            &::placeholder 
                color: #666666
                font-family: Gill Sans Extrabold, sans-serif
                font-size: 15px

        > .help-block
            color: #ff0000
            font-family: Gill Sans Extrabold, sans-serif
            font-size: 11px                

    > .wrapper
        border: 1px solid grey
        border-radius: 5px
        color: #5b5b5b
        display: flex
        font-family: Gill Sans Extrabold, sans-serif
        flex-direction: column

        > .header
            background: #caced2
            text-align: center
            width: 100%
            > .title                 
                margin: 0                
              
        > .body            
            align-items: flex-end
            display: flex
            padding: 10px
            [class*="col"]
                display: flex
                flex-direction: column
                flex: 50%
                > .text-right
                    margin-bottom: 3px
                    text-align: right
                > .text
                    margin-bottom: 3px
