<form class="form" [formGroup]="formClient" (ngSubmit)="onSubmit()" novalidate>
  <div class="title">
      <h2>Finalize o seu pedido</h2>
  </div>                

  <div class="wrap">
      <input type="text" class="field" formControlName="name" placeholder="Nome" >
      <span class="help-block"></span>
  </div>

  <div class="wrap">
      <input type="text" class="field" formControlName="email" placeholder="E-mail" >
      <span class="help-block"></span>
  </div>

  <div class="wrap">
      <input type="tel" class="field" formControlName="telephone" placeholder="Telefone" >
      <span class="help-block"></span>
  </div>

  <div class="wrap">
      <input type="tel" class="field" formControlName="cpf" placeholder="CPF" >
      <span class="help-block"></span>
  </div>

  <div class="wrap">
      <input type="date" class="field" formControlName="birth" >
      <span class="help-block"></span>
  </div>
  
  <input type="submit" class="bnt" value="Enviar" [disabled]="!formClient.valid">

</form>
