<form class="form" [formGroup]="formClient" (ngSubmit)="onSubmit()" novalidate>
    <div class="title">
        <h2>Finalize o seu pedido</h2>
    </div>        

    <div class="wrap">
        <input type="text" class="field" formControlName="name" placeholder="Nome" >
        <span class="help-block" *ngIf="formClient.get('name').invalid && formClient.get('name').touched">
            Informe no mínimo 5 caracteres.
        </span>
    </div>

    <div class="wrap">
        <input type="text" class="field" formControlName="email" placeholder="E-mail" >
        <span class="help-block" *ngIf="formClient.get('email').invalid && formClient.get('email').touched">
            E-mail inválido (Ex.: email@mail.com).
        </span>
    </div>

    <div class="wrap">
        <input type="tel" class="field" formControlName="telephone" placeholder="Telefone" mask="(09) 00000-0000">
        <span class="help-block" *ngIf="formClient.get('telephone').invalid && formClient.get('telephone').touched">
            Número inválido.
        </span>
    </div>

    <div class="wrap">
        <input type="tel" class="field" formControlName="cpf" placeholder="CPF" mask="099.099.099.09">
        <span class="help-block" *ngIf="formClient.get('cpf').invalid && formClient.get('cpf').touched">
            Número de CPF inválido.
        </span>
    </div>

    <div class="wrap">
        <input type="date" class="field" formControlName="birth" placeholder="Aniversário" >
        <span class="help-block" *ngIf="formClient.get('birth').invalid && formClient.get('birth').touched">
            Apenas maiores de 18 anos.
        </span>
    </div>
  
    <button type="submit" class="bnt" [ngClass]="{'-disabled': !formClient.valid}" [disabled]="!formClient.valid">
        Enviar
    </button>    

    <div class="wrapper">
        <div class="header">
            <h2 class="title" >{{dataStorage.platform.nome}}</h2>
        </div>
        <div class="body">
            <div class="col">
                <span class="text" *ngIf="dataStorage.plan.aparelho?.nome">{{dataStorage.plan.aparelho?.nome}}</span>
                <span class="text" *ngIf="dataStorage.plan.aparelho?.numeroParcelas && dataStorage.plan.aparelho?.valorParcela">Número Parcela</span>
                <span class="text" *ngIf="dataStorage.plan.aparelho?.valorParcela">Valor Parcela</span>                
                <span class="text">Franquia: {{dataStorage.plan.franquia}}</span>                
            </div>
            <div class="col">
                <span class="text-right" *ngIf="dataStorage.plan.aparelho?.valor">R$ {{dataStorage.plan.aparelho?.valor}}</span>                
                <span class="text-right" *ngIf="dataStorage.plan.aparelho?.numeroParcelas && dataStorage.plan.aparelho?.valorParcela">{{dataStorage.plan.aparelho?.numeroParcelas}} vezes</span>                
                <span class="text-right" *ngIf="dataStorage.plan.aparelho?.valorParcela">R$ {{dataStorage.plan.aparelho?.valorParcela}}</span>                
                <span class="text-right">R$ {{dataStorage.plan.valor}}</span>                
            </div>
        </div>
    </div>
    <div class="icon" (click)="back()">
        <img class="image" src="./../../assets/seta.png">
        <span class="text">Voltar</span>
    </div>    
</form>
