.content
    > .icon 
        display: flex
        margin-top: 20px
        > .image
            height: 26px
            margin-right: 6px
        > .text
            font-family: Gill Sans Extrabold, sans-serif
            padding-top: 5px
    > .wrap
        > .title       
            color: #5b5b5b
            font-family: Gill Sans Extrabold, sans-serif
            font-size: 20px
            text-align: center
            &:first-letter
                text-transform: capitalize
